# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env

# Base de datos
*.db
*.sqlite
*.sqlite3

# Logs
logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporales
tmp/
temp/
*.tmp
